body {
    background: url("/img/Horse.jpg") rgba(0, 0, 0, 0.3);
    /*background: url("https://img.freepik.com/free-photo/the-horse-graze-on-the-meadow-in-the-carpathian-mountains-misty-landscape-morning-fog-high-in-the-mountains_661209-79.jpg") rgba(0, 0, 0, 0.3);*/
    background-blend-mode: multiply;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}

.whatsapp:hover {
    background-color: rgb(121, 232, 23) !important;
    color: black !important;
}

@media (max-width: 991px) {
    .sidebar {
        background-color: rgba(255, 255, 255, 0.05);
        backdrop-filter: blur(10px);
    }
}